numpy
scipy
matplotlib
jupyter
mkl
pymatsolver
ipywidgets
geoana
git+https://github.com/simpeg/discretize.git@feat/3Dcylmesh
git+https://github.com/simpeg/simpeg.git@em/feat/3Dcyl
git+https://github.com/simpeg-research/casingSimulations.git
